
/* general */

*{
    margin: 0;
}

/* Conenedores */

.contenedor-general{
    margin: 0;
}

.contenedor-lateral{
    display: flex;
    flex-direction: row;
}

.barra-lateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    height: 100%;
}

.contenedor-central{
    display: flex;
    flex-direction: column;
}

.barra-superior{
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: white;
    width: 100%;
    margin-left: 80px;
    margin-bottom: 0;
}

@media (max-width: 640px){
    
    .barra-superior{
        margin-left: 15%;
    }

}

.main-area{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 70px;
}

@media (max-width: 640px){
    
    .main-area{
        padding-left: 5%;
  }

}


@media (max-width: 720px){

    .main-area{
        padding-left: 5%;
  }

}

@media (max-width: 1366px){

    .main-area{
        padding-left: 5%;
  }

}

@media (max-width: 1920px){

    .main-area{
        padding-left: 5%;
  }

}


.filas-img{
    display: grid;
    float: inline-start;
    margin: 15px;
}

@media (max-width: 1366px){

    .filas-img{
        margin: 10px;
    }

}


img{
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 30px;
}


/* Barra lateral */

.side-bar{
    width: 6vw;
    border-right: 0.1px solid rgb(221, 221, 221);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 640px){
    
    .side-bar{
        width: 12vw;
    }

}

@media (max-width: 720px){

    .side-bar{
        width: 13vw;
    }
}

button.brand-btn{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

#brand-icon{
    height: 4vh;
    width: 2vw;
}

@media (max-width: 640px){

    #brand-icon{
        height: 4vh;
        width: 6vw;
    }
    
}

@media (max-width: 720px){

    #brand-icon{
        height: 3vh;
        width: 4vw;
    }
    
}

@media (max-width: 1366px){

    #brand-icon{
        height: 3vh;
        width: 3vw;
    }
    
}


button.item-btn{
    margin-left: 5px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

@media (max-width: 640px){

    button.item-btn{
        margin-left: 20%;
    }

}

button.item-btn:hover{
    background-color: #ececec;
}

.sidebar-item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

@media (max-width: 720px){

    .sidebar-item{
        margin-bottom: 5px;
    }
}

.fa-solid, .fa-regular{
    font-size: 18px;
    padding: 10px;
}

@media (max-width: 640px){

    .fa-solid, .fa-regular{
        font-size: 12px;
        padding: 5px;
    }
}

#gear-icon{
padding-bottom: 15px;
margin-bottom: 0;
margin-left: 5px;
margin-right: 10px;
}

@media (max-width: 640px){

    #gear-icon{
        margin-right: 20px;
        }
}

/* search-bar */

.search-bar{
    width: 90%;
    height: 10px;
    align-items: center;
    background: #ececec;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 5px;
    border-radius: 13px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: none;
}

@media (max-width: 640px){
    
    .search-bar{
        margin-left: 5px;
        margin-right: 5px;

        width: 60%;
        height: 5px;
    }

}

@media (max-width: 720px){

    .search-bar{
        width: 65%;
    }
}

.search-bar:hover{
    background: #dadada;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 640px){

    .search-bar input {
        font-size: 13px;
    }
    
}

.search-bar i {
    color: gray;
    font-size: 16px;
    padding-right: 0;
}


/* perfil area */

.profile-access{
    display: flex;
    flex-direction: row;
    width: 15%;
}

#profPic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 4px;
}

.profile-area{
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width: 640px){
    
    .profile-area{
        margin-top: 10px;
    }

}

button.profile-btn{
    padding: 2px;
    border-radius: 8px;
    border: none;
    background-color: white;
}

.profile-btn:hover{
    background-color: #ececec;
}

.profile-dropdown i {
    margin-top: 25px;
    padding: 5px;
    cursor: pointer;
    color: rgb(94, 94, 94);
    font-weight: bolder;
    border-radius: 50%;
    font-size: 16px;
}

@media (max-width: 640px){

    .profile-dropdown i {
        display: none;
    }
}

.profile-dropdown i:hover{
    background-color: #ececec;
}